<ion-header>

  <ion-navbar>
    <ion-segment [(ngModel)]="type">
      <ion-segment-button value="myApprove">
        待办事项
      </ion-segment-button>
      <ion-segment-button value="myAdd">
        我申请的
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button ion-button icon-only (click)="processList()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'myApprove'">
      <button ion-item *ngFor="let todo of todolist" (click)="openNavDetailsPage(todo)">
        <div style="display: flex;">
          <ion-icon name="xuding" style="background: #96c7a3;
            width: 43px;
            margin-right: 10px;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            padding-top: 12px;
            color: #fff;"></ion-icon>
          <div>
            <h3>{{ todo.processName }}</h3>
            <p>
              {{todo.starterName}} &mdash;
              {{todo.startTimeString}}
            </p>
          </div>
        </div>
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'myAdd'">
      <button ion-item *ngFor="let todo of todolist" (click)="openNavDetailsPage(todo)">
        <div style="display: flex;">
          <ion-icon name="xuding" style="background: #96c7a3;
            width: 43px;
            margin-right: 10px;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            padding-top: 12px;
            color: #fff;">
          </ion-icon>
          <div>
            <h3>{{ todo.processName }}</h3>
          </div>
        </div>
      </button>

    </ion-list>
  </div>

</ion-content>
