<ion-header>

  <ion-navbar>
    <ion-segment [(ngModel)]="type">
      <ion-segment-button value="myApprove">
        待办事项
      </ion-segment-button>
      <ion-segment-button value="myAdd">
        我申请的
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button ion-button icon-only (click)="processList()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'myApprove'">
      <button ion-item (click)="openNavDetailsPage(todo)">
        <div class="micro-app-todo">
          <ion-icon name="gongjia" class="micro-app-corner-icon" style="background: #ffd12f"></ion-icon>
          <div class="micro-app-detail">
            <h3>公假单</h3>
            <p>
              钟云黉 - 2017-07-06
            </p>
          </div>
        </div>
      </button>
      <button ion-item *ngFor="let todo of todolist" (click)="openNavDetailsPage(todo)">
        <div class="micro-app-todo">
          <ion-icon name="xuding" class="micro-app-corner-icon"></ion-icon>
          <div class="micro-app-detail">
            <h3>{{ todo.processName }}</h3>
            <p>
              {{todo.starterName}} &mdash;
              {{todo.startTimeString}}
            </p>
          </div>
        </div>
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'myAdd'">
        <button ion-item *ngFor="let todo of todolist" (click)="openNavDetailsPage(todo)">
          <div class="micro-app-todo">
            <ion-icon name="xuding" class="micro-app-corner-icon"></ion-icon>
            <div class="micro-app-detail">
              <h3>{{ todo.processName }}</h3>
              <p>
                审批中 研发部门总经理-葛志彪
              </p>
            </div>
          </div>
        </button>
    </ion-list>
  </div>

</ion-content>
