<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ATM公假流程</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openFilter()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let atmErrand of atmErrandList" tappable (click)="toApprovePage(atmErrand)">
      <div style="display: flex;align-items: center;justify-content: space-between;">
        <div>
          <div style="margin-bottom: 6px;display: flex;align-items: center;">
            <h2 style="margin-right: 20px">李文军的订票申请单</h2>

            <ion-badge color="secondary" *ngIf="true">待办</ion-badge>
            <ion-badge color="danger" *ngIf="false">已结束</ion-badge>
            <ion-badge color="dark" *ngIf="false">已撤销</ion-badge>

          </div>
          <p  style="margin-bottom: 4px">
            所属部门: xx服务站  公假月份: 2017-07 <br>
            说明：xxxx
          </p>
          <p style="color: #FF6600;">
            服务站经理审批: 刘永强
          </p>
        </div>
        <p>
          <!--{{airApp.addtime | date:"MM-dd" }}-->
          08:30
        </p>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
