<ion-header>
  <ion-navbar>
    <ion-title>公假查看</ion-title>

  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider>
      <div style="display: flex;align-items: center;justify-content: space-between;">
        <h4>GJSZ1706150001</h4>
        <h4>2017.06.15</h4>
      </div>
    </ion-item-divider>
    <ion-item>
      <ion-row>
        <ion-col col-3>
          <h4>出差人:</h4>
        </ion-col>
        <ion-col col-9>
          陈武军
          <p margin-top>
            深圳公司|产品测试部
          </p>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col col-3>
          <h4>出发到达：</h4>
        </ion-col>
        <ion-col col-9>
          深圳 --> 南京
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <h4>出发到达：</h4>
        </ion-col>
        <ion-col col-9>
          2017.7.10 (预计 3.0 天)
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col col-3>
          <h4>项目:</h4>
        </ion-col>
        <ion-col col-9>
          建设银行跨平台项目 >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <h4>出差事由:</h4>
        </ion-col>
        <ion-col col-9>
          参加建设银行跨平台项目会议
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <h4>近期公假:</h4>
        </ion-col>
        <ion-col col-9>
          2017.5.10 | 2017.2.3 | 2016.12.15
        </ion-col>
      </ion-row>

    </ion-item>
  </ion-list>


  <ion-list>
    <ion-item-divider>
      <div style="display: flex;align-items: center;justify-content: space-between;">
        <h4>审批历史</h4>
      </div>
    </ion-item-divider>
    <ion-item style="border-bottom: 0px">
      <!--<approve-history [history]="errandViewInfo.apvRecordList" [flowStatus]="errandViewInfo.errand.flowstatus"></approve-history>-->
      <approve-history></approve-history>

    </ion-item>
  </ion-list>

</ion-content>
