<ul class="ant-timeline">
  <li *ngFor="let h of history" class="ant-timeline-item">
    <div class="ant-timeline-item-tail"></div>

    <div *ngIf="h.apvdate != '' " class="ant-timeline-item-head ant-timeline-item-head-blue"></div>
    <div *ngIf="h.apvdate == '' " class="ant-timeline-item-head ant-timeline-item-head-green"></div>


    <div class="ant-timeline-item-content">
      <div style="display: flex;justify-content: space-between;">
        <div style="font-weight: 500;">{{h.processname}} - {{h.apvsignname}}</div>
        <div style="display: flex; align-items: center;">
          {{ h.apvdate.substr(0,10)}}
        </div>
      </div>
      <div style="margin-top: 4px; display: flex;justify-content: space-between;">
        <div>{{h.apvpassed}}</div>
        <div style="display: flex; align-items: center;">
          {{h.apvdate.substr(11,19)}}
        </div>
      </div>
      <div style="margin-top: 4px;">
        {{h.apvnote}}
      </div>
    </div>
  </li>

  <li class="ant-timeline-item-over" *ngIf=" flowStatus ==='1' ">
    <div class="ant-timeline-item-head ant-timeline-item-head-red"></div>
    <div class="ant-timeline-item-content-over">
      <div style="font-weight: 500;">结束</div>
    </div>
  </li>

</ul>

