<div class="ant-history-header" >
  审批历史
</div>
<ul class="ant-timeline">
  <li *ngFor="let h of history" class="ant-timeline-item">
    <div class="ant-timeline-item-tail"></div>

    <div *ngIf="h.apvTime != '' " class="ant-timeline-item-head ant-timeline-item-head-blue"></div>
    <div *ngIf="h.apvTime == '' " class="ant-timeline-item-head ant-timeline-item-head-green"></div>


    <div class="ant-timeline-item-content">
      <div style="display: flex;justify-content: space-between;">
        <div style="font-weight: 500;">{{h.processName}} - {{h.apvName}}</div>
        <div style="display: flex; align-items: center;">
          {{ h.apvTime.substr(0,10)}}
        </div>
      </div>
      <div style="margin-top: 4px; display: flex;justify-content: space-between;">
        <div>{{h.apvResult}}</div>
        <div style="display: flex; align-items: center;">
          {{h.apvTime.substr(11,19)}}
        </div>
      </div>
      <div style="margin-top: 4px;">
        {{h.apvContent}}
      </div>
    </div>
  </li>

  <li class="ant-timeline-item-over" *ngIf="true">
    <div class="ant-timeline-item-head ant-timeline-item-head-red"></div>
    <div class="ant-timeline-item-content-over">
      <div style="font-weight: 500;">结束</div>
    </div>
  </li>

</ul>

