page-contact {

  .indexed-menu-activate{
    color: red;
  }

  .modal {
    top: 50%;
    left: 50%;
    z-index: 100;
    position: fixed;
    pointer-events: none;
    width: 20vw;
    height: 20vw;
    line-height: 20vw;
    margin-left: -10vw;
    margin-top: -10vw;
    color: #fff;
    font-size: 3em;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.16);
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
  }

  .modal.show {
    opacity: 1;
  }

}
